</main>

<footer>
    <p>Copyright © 2024 Gois Inc. All rights reserved.</p>
</footer>

<script>
    function generateUUID() {
    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
        return v.toString(16);
    });
    }

    let menu = document.querySelector('#menu-icon')
    let navList = document.querySelector('.nav-list')
    menu.onclick = () => {
        menu.classList.toggle('fa-x');
        navList.classList.toggle('open')
    }

    let addPostIcon = document.getElementById('icon-add-post')
    addPostIcon.onclick = () => {
        location.href = "/post/create"
    }

    document.getElementById('postForm').addEventListener('submit', function(event) {
       const currentDate = new Date().toLocaleDateString();
       document.getElementById('dateInput').value = currentDate
       document.getElementById('id-post-create').value = generateUUID()
    })
</script>
</body>
</html>